"""{{ title }}."""

APP_NAME = "{{ app_name }}"
APP_TITLE = "{{ title }}"
APP_VERSION = "{{ version }}"
APP_DESCRIPTION = "{{ description }}"
APP_AUTHOR = "{{ author }}"
APP_EMAIL = "{{ email }}"
APP_ICON = "{{ icon }}"
APP_COLOR = "{{ color }}"
MODULES = ["{{ module }}"]
DEPENDS_ON = []
